
body {
  font-family: arial;
  padding: 3rem;
}

.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#draggable1 { width: 150px; height: 150px; }

#draggable2 { width: 150px; height: 150px; }

#draggable3 { width: 150px; height: 150px; }

#draggable4 { width: 150px; height: 150px; }